.DayContainer {
    height: 100px;
    width: 100%;
    border-top: 1px solid lightgray;
    // border-bottom: 1px solid lightgray;
    text-align: end;
    padding-top: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    border-collapse: collapse;
    justify-content: end;

    &:hover {
        background-color: #f2f2f2 !important;
    }
}
